@model List<DelightFoods_Live.Models.ApplicationUser>

    @{
    ViewData["Title"] = "Customers";
    }

    <h1>Customers</h1>


    <table class="table">
        <thead>
            <tr>
            <th>User ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@(item.FirstName + " " + item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                </tr>
            }
        </tbody>
    </table>