@model DelightFoods_Live.Models.DTO.CategoryModelDTO

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Details";
}
<main id="main" class="main">

    <div class="pagetitle">
        <div>
            <a asp-action="ChildCategoryList" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1>Categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="ChildCategoryList">Sub Category</a></li>
                <li class="breadcrumb-item">Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <hr />
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detail Sub category Information</h5>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">

                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <br />
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                   
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-4">
                                        Parent Category
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.ParentCategoryName)
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
