@model IEnumerable<DelightFoods_Live.Models.DTO.ProductDTO>
@using Microsoft.AspNetCore.Identity

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Product List";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <p style="float:right">
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </p>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <!-- Table with stripped rows -->
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                            <div class="datatable-top">
                                <div class="datatable-dropdown">
                                    <label>
                                        <select class="datatable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="-1">All</option></select> entries per page
                                    </label>
                                </div>
                                <div class="datatable-search">
                                    <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">
                                </div>
                            </div>
                            <div class="datatable-container">
                                <table class="table datatable datatable-table">
                                    <thead>
                                        <tr>
                                            <th data-sortable="true" aria-sort="ascending" class="datatable-ascending" style="width: 10.954063604240282%;">
                                                <button class="datatable-sorter">
                                                    Name
                                                </button>
                                            </th>
                                            <th data-sortable="true" style="width: 10.954063604240282%;"><button class="datatable-sorter">Description</button></th>
                                            <th data-sortable="true" style="width: 10.954063604240282%;"><button class="datatable-sorter">Stock</button></th>
                                            <th data-sortable="true" class="red" style="width: 8.954063604240282%;"><button class="datatable-sorter">Status</button></th>
                                            <th data-sortable="true" class="red" style="width: 10.954063604240282%"><button class="datatable-sorter">Price</button></th>
                                            <th data-sortable="true" class="red" style="width: 10.954063604240282%"><button class="datatable-sorter">Category</button></th>
                                            <th data-sortable="true" style="width: 10.954063604240282%;"><button class="datatable-sorter">Images</button></th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @if (item.Stock > 100)
                                                    {
                                                        <span style="display: inline-block; width: 100px; text-align: center; background-color: #DAF7A6; font-weight:700; color: #36454F; padding: 4px; border-radius: 4px;">Good: @item.Stock</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="display: inline-block; width: 100px; text-align: center; background-color: #FAA0A0;font-weight:700; color: #36454F; padding: 4px; border-radius: 4px;">Low: @item.Stock</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.IsActive)
                                                    {
                                                        <span style="display: inline-block; width: 80px; text-align: center; background-color: #4CAF50; color: white; padding: 4px; border-radius: 4px;">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="display: inline-block; width: 80px; text-align: center; background-color: #F44336; color: white; padding: 4px; border-radius: 4px;">In-Active</span>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                                </td>
                                                <td>
                                                    <img src="@item.MediaFilePath" alt="Image" width="100" height="100">
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit <i class="bi bi-pencil "></i></a> |
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details <i class="bi bi-info-square "></i></a>
                                                    @* <button class="AddtoCart" data-id="@item.Id">Add to Cart</button> *@
                                                    @* |<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete </a> *@
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="datatable-bottom">
                                <div class="datatable-info">Showing 1 to 10 of 100 entries</div>
                                <nav class="datatable-pagination"><ul class="datatable-pagination-list"><li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">‹</button></li><li class="datatable-pagination-list-item datatable-active"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">2</button></li><li class="datatable-pagination-list-item"><button data-page="3" class="datatable-pagination-list-item-link" aria-label="Page 3">3</button></li><li class="datatable-pagination-list-item"><button data-page="4" class="datatable-pagination-list-item-link" aria-label="Page 4">4</button></li><li class="datatable-pagination-list-item"><button data-page="5" class="datatable-pagination-list-item-link" aria-label="Page 5">5</button></li><li class="datatable-pagination-list-item"><button data-page="6" class="datatable-pagination-list-item-link" aria-label="Page 6">6</button></li><li class="datatable-pagination-list-item"><button data-page="7" class="datatable-pagination-list-item-link" aria-label="Page 7">7</button></li><li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><button class="datatable-pagination-list-item-link">…</button></li><li class="datatable-pagination-list-item"><button data-page="10" class="datatable-pagination-list-item-link" aria-label="Page 10">10</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">›</button></li></ul></nav>
                            </div>
                        </div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $(".AddtoCart").click(function () {
            var productId = $(this).data("id"); // Get the product ID from data attribute
            // Here you can place your logic for adding the item to the cart
            // For example, you can send an AJAX request to a server-side endpoint to add the item to the cart
            // Or you can handle it directly in JavaScript if it's just a client-side operation
            console.log('productId =', productId)

            $.ajax({
                type: 'POST',
                url: "@Url.Action("AddItemCart", "Cart")",
                data: { ProductId: productId, CustomerId: 0, Quantity : 1 },
                success: function (result) {
                    {
                        if (result == "succes") {
                            alert("Succesfully add in cart")
                        }
                        else {
                            alert("Error")
                        }
                    }
                },
                error: function (result) {
                    Toast.create({ title: "Error", message: "Error", status: TOAST_STATUS.DANGER, timeout: 3000 });
                }
            });

            // For demonstration, let's alert a message
            alert("Item with ID " + productId + " added to cart!");
        });
    });
</script>
