@model IEnumerable<DelightFoods_Live.Models.DTO.SaleOrderDTO>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}

<h1>Index</h1>


<main id="main" class="main">

	<p>
		@* <a asp-action="Create">Create New</a> *@
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Code
				</th>
				
				<th>
					@Html.DisplayNameFor(model => model.TotalPrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.AdvancePayment)
				</th>

				<th>
					<p>Remaining Payment</p>
				</th>
				<th>
					<p>Payment Type</p>
				</th>

				<th>
					<p>Shipping</p>
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CreatedOnUTC)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<b>@($"S-ORD-00{item.Id}")</b>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TotalPrice)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.AdvancePayment)
					</td>
					
					<td>
						@Html.DisplayFor(modelItem => item.RemainingPayment)
					</td>
					
					<td>
						@Html.DisplayFor(modelItem => item.PaymentType)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.ShippingAddress)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedOnUTC)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						@if (item.Status == "Shipped")
						{
							<button button class="delivered btn btn-secondary" data-id="@item.Id">Confirm to delivered</button>
						}
						@if (item.Status == "Delivered" && item.IsReturnDateIsValde)
						{
							<a asp-action="ReturnForm" asp-route-id="@item.Id"> Return Form </a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<script>

		$(document).ready(function () {
			$(".delivered").click(function () {
				var id = $(this).data("id"); // Get the product ID from data attribute
				console.log('abc', id);

				$.ajax({
					type: 'POST',
					url: "@Url.Action("ConfirmDelivery", "SaleOrder")",
					data: { id: id },
					success: function (result) {
						{
							if (result == "success") {
								console.log("Delivered Succesfully ")
								location.reload();
							}
							else {
								console.log("Error")
							}
						}
					},
					error: function (result) {
					}
				});
			});
		});


	</script>



</main>
