@model IEnumerable<DelightFoods_Live.Models.DTO.SaleOrderDTO>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}

<h1>Index</h1>


<main id="main" class="main">

	<p>
		@* <a asp-action="Create">Create New</a> *@
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Code
				</th>
				<th>
					Product Id
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TotalPrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.AdvancePayment)
				</th>

				<th>
					<p>Remaining Payment</p>
				</th>
				<th>
					<p>Payment Type</p>
				</th>

				<th>
					<p>Shipping</p>
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CreatedOnUTC)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.OrderBy(x=>x.Id))
			{
				<tr>
					<td>
						<b>@($"S-ORD-00{item.Id}")</b>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ProductId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TotalPrice)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.AdvancePayment)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.RemainingPayment)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.PaymentType)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.ShippingAddress)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedOnUTC)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</main>
