@model DelightFoods_Live.Models.DTO.SaleOrderDTO

@{
	ViewData["Title"] = "ReadyForShipOrderDetail";
}

<h1>SaleOrderModel</h1>

<div class="form-control">
	<div>
        <br />
		<hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4 col-md-3">
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </dt>
                    <dd class="col-sm-8 col-md-9">
                        @Html.DisplayFor(model => model.TotalPrice)
                    </dd>
                    <dt class="col-sm-4 col-md-3">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8 col-md-9">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-4 col-md-3">
                        @Html.DisplayNameFor(model => model.AdvancePayment)
                    </dt>
                    <dd class="col-sm-8 col-md-9">
                        @Html.DisplayFor(model => model.AdvancePayment)
                    </dd>
                    <dt class="col-sm-4 col-md-3">
                        @Html.DisplayNameFor(model => model.RemainingPayment)
                    </dt>
                    <dd class="col-sm-8 col-md-9">
                        @Html.DisplayFor(model => model.RemainingPayment)
                    </dd>
                </dl>
            </div>

            <div class="col-md-6">
                <div class="paymentdiv">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Payment</h1>
                            <div class="mb-4">
                                <label for="cardholdername" class="form-label">Card Holder Name:</label>
                                <input type="text" id="cardholdername" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label for="txtCardNumber" class="form-label">Card Number:</label>
                                <input type="number" id="txtCardNumber" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label for="txtExpiry" class="form-label">Expiry:</label>
                                <input type="text" id="txtExpiry" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label for="txtCVC" class="form-label">CVC:</label>
                                <input type="number" id="txtCVC" class="form-control" />
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0">Remaining Payment</h5>
                                <p class="mb-0">PKR @Model.RemainingPayment.ToString("N2")</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-lg rounded-pill mb-4" id="paymentbtn" type="button">Payment Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


		<table class="table">
			<thead>
				<tr>
					<th>
						<p>ProductName</p>
					</th>
					<th>
						<p>Price</p>
					</th>
					<th>
						<p>Quantity</p>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.saleOrderProductMappings)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.ProductName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Quantity)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>


</div>

<script>


	$("#paymentbtn").on("click", function () {
		// Get the value of the textbox
		var cardholder = $("#cardholdername").val();
		var cardNumber = $("#txtCardNumber").val();
		var expiry = $("#txtExpiry").val();
		var cvc = $("#txtCVC").val();

		// Update the model with the textbox value
		var model = @Html.Raw(Json.Serialize(Model));
		model.cardholderName = cardholder;
		model.cardNumber = cardNumber;
		model.expiry = expiry;
		model.cvc = cvc;

		console.log("Model", model);

		$.ajax({
			type: 'POST',
			url: '@Url.Action("RemainingProductPayment", "SaleOrder")',
			data: { model: model },
			success: function (result) {
				if (result === "success") {
					alert("Successfully added to cart");
					location.reload();
				} else {
					alert("Error");
				}
			},
			error: function (result) {
				// Handle error
			}
		});
	});



</script>